.team {
  padding: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(0deg, #fff 50%, #F4F4F4 50%);
  text-align: center;
}

.team h3 {
  font-size: 15px;
  color: darkgrey;
}

.team h2 {
  font-size: 17px;
  color: black;
}
