// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #73628A;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #CBC0D6;
$light-gray: #F7F7F9;
$black: #191919;
$white: #F7F7F9;



